<div class="">
  <el-breadcrumb separator-class="el-icon-arrow-right">
    <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
    <el-breadcrumb-item>权限管理</el-breadcrumb-item>
    <el-breadcrumb-item>角色列表</el-breadcrumb-item>
  </el-breadcrumb>
  <el-table :data="tableData" style="width: 100%">
    <el-table-column type="expand">
      <template slot-scope="scope">
        <el-row v-for="v in scope.row.children" :key="v.id" class="one">
          <el-col :span="4">
            <el-tag> {{ v.authName }}</el-tag>
          </el-col>
          <el-col :span="20">
            <el-row v-for="v2 in v.children" :key="v2.id" class="two">
              <el-col :span="4">
                <el-tag type="success"> {{ v2.authName }}</el-tag>
              </el-col>
              <el-col :span="20">
                <el-tag
                  type="warning"
                  v-for="v3 in v2.children"
                  :key="v3.id"
                  class="three"
                >
                  {{ v3.authName }}</el-tag
                ></el-col
              >
            </el-row>
          </el-col>
        </el-row>
      </template>
    </el-table-column>
    <el-table-column type="index" :index="indexMethod"> </el-table-column>
    <el-table-column prop="roleName" label="角色名称" width="180">
    </el-table-column>
    <el-table-column prop="roleDesc" label="描述" width="180">
    </el-table-column>
    <el-table-column label="操作">
      <template slot-scope="scope">
        <el-button
          size="mini"
          plain
          type="primary"
          icon="el-icon-edit"
          @click="showM(scope)"
        ></el-button>

        <el-button
          size="mini"
          plain
          type="danger"
          icon="el-icon-delete"
          @click="del(scope.row.id)"
        ></el-button>
        <el-button
          size="mini"
          plain
          type="success"
          icon="el-icon-check"
          @click="showm(scope.row)"
          >分配权限</el-button
        >
      </template>
    </el-table-column>
  </el-table>
  <el-dialog title="提示" :visible.sync="showM" width="30%">
    <template solt-scope="scope">
      <el-tree
        :data="rdata"
        show-checkbox
        node-key="id"
        :default-expand-all="true"
        ref="tree"
        :props="defaultProps"
      >
      </el-tree>
    </template>
    <span slot="footer" class="dialog-footer">
      <el-button @click="showM = false">取 消</el-button>
      <el-button type="primary" @click="changeR">确 定</el-button>
    </span>
  </el-dialog>
</div>
